<p>Total number of seats = 80 </p>
<p>Number of seats booked till now = 20
<p> Please select the number of seats</p>
<div >
  <select (click)="onSeat($event)">
     <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      
    
    
  </select>
  </div>

<div>
  Number of seats occupied ={{name}}<br>

  Number of seats vacant = {{vacant}}
  </div>